body, h1, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #faf8ef;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Changed from center to flex-start */
  align-items: center;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  padding: 10px;
  min-height: 100vh;
  height: 100%; /* Ensure body takes up full height */
}

h1 {
  font-size: 4vw; /* responsive font size for larger screens, smaller on mobile */
  color: #776E65;
  text-align: center;
  margin-top: 20px; /* Added top margin for spacing */
  margin-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  justify-items: center;
}

.game-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s;
  width: 100%;
  max-width: 100px;
  aspect-ratio: 1;
  margin-bottom: 10px; /* Add margin for spacing above the footer */
}

.game-button img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  object-fit: cover;
}

.game-button p {
  color: #333;
  font-size: 0.8rem;
  margin-top: 4px;
  text-align: center;
}

.game-button:hover {
  transform: scale(1.1);
}

.game-button:hover img {
  transform: rotate(-5deg);
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.game-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

footer {
  width: 100%;
  text-align: center;
  padding: 15px 0; /* Add padding to ensure visibility */
  color: #777;
}

@media (max-width: 600px) {
  h1 {
      font-size: 5vw;
  }

  .container {
      grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }

  .game-button {
      max-width: 90px;
      padding-top: 30px; /* Reduced padding */
      padding-bottom: 30px;
  }

  .game-button p {
      font-size: 0.7rem;
  }
}
