body {
  background-color: #faf8ef;
  display: flex;
  justify-content: center;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  height: 100vh;
  align-items: center;
  padding-top: 0px;
  margin-top: 0px;
}

.container {
  width: 90vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: #BBADA0;
  padding: 10px;
  border-radius: 10px;
  width: 100%; /* matches the width of the container */
  aspect-ratio: 1; /* ensures the grid is always square */
}

.grid div {
  background-color: #EEE4DA;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #776e65;
  font-size: 3vw;
  border-radius: 7px;
  aspect-ratio: 1; /* ensures each tile is square */
}

.score-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.score-title {
  font-weight: bold;
}

#score {
  font-size: 2.5em;
  color: #ff8c00;
  font-weight: bold;
}
